<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.gadsdtchoferes">

    <!-- Permiso de internet -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="GAD Choferes"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.GADSDTChoferes">

        <!-- MainActivity: pantalla inicial -->
        <activity android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Segunda actividad -->
        <activity android:name=".MainActivity2" />

        <!-- Tercera actividad: muestra datos de la API -->
        <activity android:name=".MainActivity3" />

    </application>
</manifest>
